@using MoviePro.Models.DataBase
@using MoviePro.Services.Interfaces
@inject IImageService _imageService
@model Movie

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" class="w-100" alt="..." />
        </div>

        <div class="row">
            <button class="btn btn-lg btn-block btn-danger font-weight-bold" data-toggle="modal" data-target="#trailer"><i class="fa fa-youtube"></i> Watch Trailer</button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">TITLE:</span> @Model.Title
            </div>
        </div>
        <hr />        
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">RELEASE:</span> @{
                    Model.ReleaseDate.ToString("MMM dd, yyyy");
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">RATING:</span> @Model.Rating
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">REVIEWS:</span> @Model.VoteAverage / 10
            </div>
        </div>
        <hr />
        <div class="row mt-3 mb-2">
            <div class="col h5">
                <span class="font-weight-bolder">OVERVIEW:</span>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col">
                <span class="h5 ml-4">@Model.Overview</span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <span class="h5 font-weight-bolder">STARRING:</span>
    </div>
</div>
@foreach(var actor in Model.Cast.Take(5))
{
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="@actor.ImageUrl" class="img-fluid" style="width: 10rem" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title"><a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.CastID">Name: @actor.Name</a></h5>
                            <p class="card-text">Character: @actor.Character</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}













































@*





@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Backdrop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Backdrop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackdropType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackdropType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailerUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>*@
